html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
}

.password {
  padding: 8px;
  margin: 8px;
  caret-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.password-button {
  padding: 8px;
  margin: 8px;
  background-color: blueviolet;
  border-color: #fff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}